.brand{ padding: 0px 30px}
.brand img{width:150px}
.navbar{border-bottom: 1px solid black}

.jumbotron { margin:0px; padding:20px; background-position: top; border: 1px 0px 1px 0px  solid black; }
.jumbotron h1{padding-top: 30px; font-weight: bold}
.jumbotron .display, .lead, .caption h3 {color:#fff; text-shadow: 0 5px 2px rgba(0,0,0,.6)}
.jumbotron .container{padding-bottom:50px}
.row{margin-top:10px}
.btn{clear:both; margin:40px}
.thumbnail{background-color: transparent; width:244px; }
.thumbnail img{width:242px; height:200px}



@media screen and (min-width: 480px) {
    .jumbotron {
       background-size: 100%;
    }
}